html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.map-canvas {
    height: 100%;
}

.search {
    margin: 8px;
    display: flex;
}

.search-box {
    display: flex;
    font-size: 14px;
    padding: 5px 0px;
}

.list {
    list-style: none;
}

.results {
    margin: 5px;
    padding: 2px;
}

.place {
    margin: 2px;
    padding: 4px;
    background-color: #eee;
    cursor: pointer;
}

.place:hover {
    background-color: #b3d4fc;
}


/* font size changes base on device*/

.topic {
    font-size: 3vmin;
}